*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.clearfix{
  clear:both;
}

.brand{
  width: 49%;
  float:left;
}

}
.container{
  width: 1156px;
  margin:0 auto;
  padding-left: 20px;
}
.article-1, .article-2, .article-3{
  width:25%;
  float: left;
  margin: 50 50;
  border-style: solid;
  background-color: gray
}

}
.container p{
  margin-left: 15;
  margin-right: 15;
  text-align: justify;
  font-style:normal;
  color: black;
  font-size: 13px;
  text-shadow: rgb(71, 26, 44);

}
.container h1{
  margin: 0 0 15 200;
  font-size: 35px;
  text-align: center;
 border-style: solid;
  color: black;
 background-color: skyblue;
}
.container h3{
  margin: 0 0 15 200;
  font-size: 35px;
  text-align: center;
 border-style: solid;
  color: black;
 background-color: brown;
}
.container h4{
  margin: 0 0 15 200;
  font-size: 35px;
  text-align: center;
 border-style: solid;
  color: black;
 background-color: plum;
}
.container h2{
    text-align: center;
    margin: 80 0 0 0;
}
footer{
  position: relative;
  background-color: #542583;
  color: white;
  text-align: center;
  height: 90px;
  margin-top: -75px;
  clear: both;
}

.animation-area{
  width: 100%;
  height: 130vh;
}

.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
  height: 100%;
  overflow: hidden;
}



